body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
}

#ui {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 40px;
}

#gameCanvas {
    background: #333;
    border: 2px solid #fff;
    display: block;
} 